@model IEnumerable<Picks.SchoolProject.Models.Image>
@{
    ViewData["Title"] = "Download";
}

<p>Download!</p>

<div class="container-fluid">
    <div>
        <p>Filter on category:</p>
        @using (Html.BeginForm("Download", "Download", FormMethod.Post))
        {
            @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.Categories, "All", new { @class = "form-control" })
            <br/>
            <input type="submit" value="Filter" class="btn btn-primary" />
            <hr/>
        }
    </div>
    <div>
        @if (!Model.Any())
        {
            <h1>No images found in this category!</h1>
        }
        else
        {
            <div class="container col-md-12">
                @foreach (var item in Model)
                {
                    <img src="~/images/@item.Url" style="margin: 0 auto" alt="@item.Name" class="img-responsive" />
                    <a href="@Url.Action("DownloadImage", "Download", new {url = @item.Url})" class="elements">
                        <span>Download Image!</span>
                    </a>
                    using (Html.BeginForm("Basket", "Download", new { file = item.Url }, FormMethod.Post))
                    {
                        <input type="submit" value="Add to basket!" />
                    }
                    <hr/>
                }
            </div>
        }
    </div>
</div>



